p {
    width: 75%;
};

.first {
    background-image: url(images/bg-hero-desktop.svg);
}

footer {
    z-index: -100;
    background-color: hsl(192, 100%, 9%);
}

.ready {
    z-index: 1;
    position: relative;
    top: 5rem;
}

@media (max-width: 775px) {

    .header {
        padding: 3rem 3.5rem;
    }

    .header img {
        height: 20px;
        margin: auto 0;
    }

    .header button{
        padding: 0.5rem 2rem;
    }
    .start,
    .grow,
    .flowing,
    .user,
    footer {
        flex-direction: column;
        padding: 3.5rem
    }

    p {
        width: 100%;
    }

    .start button {
        display: flex;
        margin: auto;
    }

    .ready button {
        padding: 0.5rem 1.5rem;
    }

    .ready {
        padding: 2.5rem;
        border-radius: 10px;
        width: 70%;
    }

    .footer__chat {
        margin: 6rem 0 0 0;
    }

    .start button,
    .start img,
    .grow__img,
    .flowing__img,
    .uesr__img {
        margin-top: 2.5rem;
    }

}

@media (max-width: 4000px) {
    .ready {
        background-color: white;
        position: relative;
        z-index: 1;
        border-radius: 10px;
    }

    footer {
        z-index: 0;
    }

    .footer__chat,
    .footer__2,
    .footer__3 {
        margin: 6rem 0 0 0;
    }


}